<!DOCTYPE html>
<html>
  <head>
    <title>Video Camera Test</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <body>
    <h1>
      Video Camera Test
    </h1>
    <form method="post" action="/result">
      <p>
        Testing video camera livefeed
      </p>
      <input type="radio" name="book" value="bible"> Good<br>
      <input type="radio" name="book" value="davinci"> Bad<br>
      <input type="radio" name="book" value="hp"> Sux
      <p>
        <input type="submit" />
      </p>
</form>
    <div id="my_camera"></div>
	
	<!-- First, include the Webcam.js JavaScript Library -->
	<script type="text/javascript" src="https://pixlcore.com/demos/webcamjs/webcam.min.js"></script>
	
	<!-- Configure a few settings and attach camera -->
	<script language="JavaScript">
		Webcam.set({
			// live preview size
			width: 320,
			height: 240,
			
			// device capture size
			dest_width: 320,
			dest_height: 240,
			
			// final cropped size
			crop_width: 240,
			crop_height: 240,
			
			// format and quality
			image_format: 'jpeg',
			jpeg_quality: 90
		});
		
		Webcam.attach( '#my_camera' );
	</script>
  </body>
</html>